@charset "UTF-8";

/* Geral */
@media all {
  * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  html,
  body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
  }
  h1,
  p {
    color: white;
    text-shadow: 2px 2px 2px #0e175e;
    padding: 5px;
  }
}
/* Portrait */
@media screen and (orientation: portrait) {
}
body {
  background: url(../images/cev-portrait.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
/* Landscape */
@media screen and (orientation: landscape) {
}
body {
  background: url(../images/cev-landscape.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}
