@charset "UTF-8";

body{
    text-align: justify;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    background-color: azure;
}

h2{
    color: blueviolet;
    font-size: 1.1em;
}

p{
    background-color: rgb(208, 255, 0);
}

            