@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}
body{
    background-color: darkgray;
}
header {
  background-color: black;
  color: white;
  text-align: center;
}
header h1 {
  padding-top: 50px;
  font-variant: small-caps;
}
header p {
  padding-bottom: 50px;
  font-weight: bold;
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: normal;
}
header a:hover, footer a:hover{
    color: rgba(134, 160, 245, 0.815);
}
section{
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
}
section.normal{
    background-color: white;
}
section.img{
    background-color: rgb(37, 37, 37);
    color: white;
}
section.img p{
    background-color: rgba(0, 0, 0, 0.123);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 6 px;
}